{% include header.html %}
    <div class="bs-header" id="bs-header">
      <div class="container">
        <h1>动态</h1>
        <p>关注我们的最新动向</p>
      </div>
    </div>
    <br />
    <div class="container bs-docs-container">
      <ol class="breadcrumb">
        <li><a href="{{ site.baseurl }}">LOSP</a></li>
        <li><a href="{{ site.baseurl }}">动态</a></li>
        <li class="active">{{ page.title }}</li>
      </ol>
      <p><h3>{{ page.title }}</h3></p>
      <p><span class="label label-info">发表于</span> <span class="label label-default">{{ page.date | date: "%Y 年 %m 月 %d 日" }}</span></p>
      <br />
      {{ content }}
      <br /><br /><br />
      <div id="disqus_thread">
      </div>

      <script type="text/javascript">
        var disqus_shortname = 'sdus';

        var disqus_url = "{{ site.url }}{{ page.url }}";

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>请打开JavaScript来浏览<a href="http://disqus.com/?ref_noscript">DisQus 评论.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">请等待评论加载</a>
    </div>
{% include footer.html %}
